#error-message{
    color:red;
    font-weight: 600;
}

#main{
    display: grid;
    grid-template-areas: 
    "header header header"
    "selector selector selector"
    "details details team"
    "versions versions versions"
    "recent recent recent";
    grid-gap: 5px;
    max-width: 800px;
    width: 75%;
    margin: 0 auto;
}

#main > *{
    border: 1px solid black;
    padding: 10px 20px;
}

#header{
    grid-area: header;
    text-align: center;
}

#pokemon-selector{
    grid-area: selector;
}

#details > *{
    border: 1px solid black;
    padding: 5px 10px;
}

#details{
    grid-area: details;
    display: grid;
    grid-template-areas: 
    "details-title details-title"
    "details-img details-text"
    "details-sub-text details-sub-text"
    ". details-action";
    grid-gap: 5px;
}

#details-title{
    grid-area: details-title;
}

#details-img-container img{
    grid-area: details-img;
    width:100px;
}

#details-text{
    grid-area: details-text;
}

#details-sub-text{
    grid-area: details-sub-text;
}

#details-action{
    grid-area: details-action;
}

#team{
    grid-area: team;
}

ul#team-list{
    list-style-type: none;
    padding:0;
}
ul#team-list li{
    margin: 5px;
    border: 1px solid black;
    display: flex;
    align-items: center;
}
ul#team-list img{
    border-radius: 50%;
    width:50px;
}

#versions{
    grid-area: versions;
}

#versions-list, #recent-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
}

#versions-list > *, #recent-list > *{
    border: 1px solid black;
}

#versions-list img, #recent-list img{
    width: 75px;
}

.versions-list-item, .recent-list-item{
    text-align: center;
}

#recent{
    grid-area: recent;
}